'''
Config
'''
#Settingファイル
SECRET_KEY = 'secretkey'

#STORAGE
STORAGE_KEY = ""
STORAGE_NAME = ""
TABLE_NAME = ""

#CUSTOM VISION
TRAINING_KEY = ""
PREDICTION_KEY = ""
ENDPOINT = ""
VISION_PROJECT_NAME = ""
PUBLISH_ITERATION_NAME = ""