{% extends "layout.html" %}
{% block content %}

<div class="text-info">
    <h1>画像UpLoad</h1><br>
</div>
<div class="container">
    <div class="col-9">
        <form id="upload" action="{{ url_for('upload') }}" method=post enctype="multipart/form-data">
            <div class="imagePreview"></div>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-info">
                        Choose File<input type="file" style="display:none" class="uploadFile" name="file">
                    </span>
                </label>
                <input type="text" class="form-control" readonly="">
            </div>
            <button form="upload" type="submit" class="btn btn-primary btn-lg" name="submit" value="submit">AI解析開始</button>
            <div class="text-danger">
                <h3>{{ message }}</h3><br>
            </div>
        </form>
    </div>
</div>
{% endblock %}